* {
    margin: 0px;
    padding: 0px;

}

body {
    overflow: hidden;
}

body .container {
    padding: 20px 10%;
    position: relative;
    background-image: url('/images/hero_1.jpg');
    height: 80vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

nav {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 15px 8%;
    background: black;
    color: #fff;
}

nav .logo {
    font-size: 32px;
}

#menu_mobile {
    position: absolute;
    padding: auto 20px;
    top: 100px;
    background-color: #ddd;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    width: 100%;
    flex-direction: column;
    list-style: none;
    transition: right.4s ease-in-out;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

nav #menu {
    list-style: none;
    display: flex;
    visibility: hidden;
    justify-content: space-around;

}

.menu_show {
    transform: translate(0, 0) !important;
}

.menu_link {
    padding: 20px 8%;
    margin-bottom: 10px;
}

nav #hamburger {
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    cursor: pointer;

}

.line {
    width: 80%;
    height: 10px;
    background-color: #fff;
    margin-bottom: 5px;
    border-radius: 5px;
}

@media only screen and (min-width: 768px) {
    nav #menu_mobile {
        visibility: hidden;
        
    }

    nav #hamburger {
        display: none;
    }

    nav #menu {
        visibility: visible;
    }
}